@using ModelLayer.Entities

@model Usuario
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    
</head>
<body>    
  
    <div class="row">
        @Html.Label("Usuario")
        @Html.TextBoxFor(x => x.nombre_usuario, new { @class = "form-control col-md-3", @placeholder = "Usuario" })
    </div>
    <div class="row">
        @Html.Label("Password")
        @Html.TextBoxFor(x => x.password, new { @class = "form-control col-md-3", @placeholder = "Password" })
    </div>

    <input type="submit" value="Iniciar sesión" class="btn btn-primary" />


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</body>
</html>
