<div class="form">
    <div class="form-header">
        <div class="pull-left valign"> <i class="fa fa-home"></i> INICIO </div>
    </div>

    <div class="form-body">
        asd
    </div>

    <div class="form-footer"></div>
</div>

<script type="text/javascript">

</script>