<div class="form">
    
    <div class="pull-left valign"> <i class="fa fa-home"></i> <b>INICIO</b> </div>
    

    <div class="form-body" style="text-align: center; padding-top: 12%">
        <span><b>Bienvenido a Tu Cole Online</b></span>
    </div>

</div>

<script type="text/javascript">

</script>